//
// Layout styles
//

.jumbotron {
	background: url(../imagen/diseno-web-slider.jpg) no-repeat center center;
	background-size: 100% 100%;
	position: relative;
	height: 700px;
	margin-top: -70px;
	.jumbotron-text, .jumbotron-title {
		background-color: $background2;
		color: #fff;
		position: absolute;
		max-width: 347px;
		margin: 0 auto;
		margin-left: 465px;
		border-radius: 19px;
		width: 153%;
		padding-top: 8px;
		padding-left: 10px;

	}
}


.colum{
	width: 48%;
	display: inline-block;
}

.content-about{
	background: url(../imagen/Bandera-de-Costa-Rica-ondeando.jpeg) no-repeat center center;
	background-size: 100% 100%;
	font-size: 16px;
	color: #fff;
	height: 800px;
	overflow: hidden;
	margin-top: 70px;
	margin-bottom: 70px;
		.about-description{
			width: 70%;
			padding-left: 146px;
			margin-top: 65px;
		}
		.content-about-left{
			background: url(../imagen/vida.jpg) no-repeat center center;
			background-size: 50% 70%;
			height: 700px;
			float: left;
			margin-top: -83px;
		}
		.content-about-right{
			.about-section-up{
				text-align: center;
				background-color: $background2;
	    	height: 140px;
	    	width: 60%;
	    	margin-top: 61px;
    		.about-ul-left, .about-ul-right{
		    	display: inline-block;
		    	margin: 0 auto;
				}
			}
			.about-section-down, .footer-section-left{
			  margin-top: 60px;
					.logo-tel, .logo-email{
				  height: 40px;
					}
					.tel, .email{
				  float: right;
					}
					.contact-email, .contact-tel{
						width: 44%;
						overflow: hidden;
					}
					.tel{
						margin-right: 44px;
					}
			}
		}

}


.content-skill {
	.content-skill-avatar{
		background: url(../imagen/avatar.png) no-repeat center center;
		background-size: 50% 70%;
		height: 700px;
	}
	.content-skill-score{
		background: url(../imagen/score.png) no-repeat center center;
		background-size: 70% 70%;
		height: 700px;
	}
}

.portfolio-proyect{
	background-color: #b3b7ba;
	max-width: 1024px;
	margin: 0 auto;
	.portfolio-proyect{
	display: inline-block;
	margin: 0 auto;
	}
	.proyect-imagen{
		width: 60%;
		margin-left: 108px;
	}
	.proyect-text{
		width: 60%;
		margin-left: 108px;
	}
	.proyect-title{
		text-align: center;
		font-size: 18px;
		color: $texto1;
		margin-top: 20px;
	}
	.visit{
		float: right;
		margin-right: 100px;
	}
}

.footer{
	background-color: $background2;
	.footer-section-left{
		  width: 48%;
		margin-top: 60px;
		.logo-tel, .logo-email{
			height: 40px;
			}
		.tel, .email{
			float: right;
						}
		.contact-email, .contact-tel{
			width: 44%;
			overflow: hidden;
			}
			.tel{
				margin-right: 44px;
			}
	}
}

.footer-section-right {
  background-color: $background2;
  width: 49%;
  position: absolute;
  right: 1px;
  height: 84px;
  margin-top: -84px;
  margin-right: 5px;
}