// 
// Variables
//

// Tipografía
$sans: Helvetica, Arial, sans-serif;
$serif: Times, "Times New Roman", serif;

// Colores
$texto1: #fff; //Blanco
$texto2: #000; // Negro
$texto3: #6e7c89; // Gris verdoso
$destacado1: #1b8abe;  // Turquesa
$background1: #2b2b2b; // Gris oscuro
$background2: rgba(177,181,184,0.9); // Gris claro

// Layout
$max-width: 1400px;
$content-width: 960px;