// 
// Estilos para los elementos base
//

html {
  box-sizing: border-box;
  background-color: #000;
  font-size: 62.5%;
  max-width: $max-width;
  margin: 0 auto;
}

* {
  box-sizing: inherit;
}

body {
  margin: 0;
}


ul, ol {
  margin: 0;
}


h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-family: "Roboto", "Sinkin Sans", "Times New Roman", Times, Arial, serif;
  font-weight: 500;
  margin-bottom: 20px;

}

// Patrones

p, li {
  font-family: $text-sans;
  margin-bottom: 0.3em;
  @include font-size(18);
  color: $texto1;
}

a {
  color: $texto1;
  @include font-size(14); 
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-family: $text-roboto;
  color: $texto1;
}

// Patrones

