// 
// Estilos para los elementos base
//

html {
  box-sizing: border-box;
  font-size: 62.5%;
<<<<<<< HEAD
  max-width: 1024px;
=======
>>>>>>> eb25826c71ac9d1ada3735dcecf9b523cef3de23
}

* {
  box-sizing: inherit;
}

body {
  margin: 0;
}
<<<<<<< HEAD
a{
  text-decoration: none;
}
=======

>>>>>>> eb25826c71ac9d1ada3735dcecf9b523cef3de23
ul, ol {
  margin: 0;
}

<<<<<<< HEAD
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-family: "Roboto", "Sinkin Sans", "Times New Roman", Times, Arial, serif;
  font-weight: 500;
  margin-bottom: 20px;

}

// Patrones
=======
p, li {
  font-family: $serif;
  margin-bottom: 0.3em;
  @include font-size(14);
  color: $texto1;
}

a {
  color: $texto2;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-family: $sans;
  color: $texto1;
}

// Patrones

.section-header {
  width: 100%;
  border-bottom: 1px solid #000;
  color: #000;
  text-transform: uppercase;
  padding-bottom: 0.5em;
  margin-bottom: 40px;
}
>>>>>>> eb25826c71ac9d1ada3735dcecf9b523cef3de23
