// 
// Variables
//

// Tipografía
$sans: Helvetica, Arial, sans-serif;
$serif: Times, "Times New Roman", serif;

// Colores
$texto1: #3b1128;
$texto2: #e8330f; // Rojo
$texto3: #6e7c89; // Gris verdoso
$destacado1: #1b8abe;  // Turquesa
$destacado2: #f3810e;  // Naranja
$background1: #2b2b2b; // Gris oscuro
$background2: #f0f0f0; // Gris claro

// Layout
$max-width: 1400px;
$content-width: 960px;