//
// Estilos del header
//

.header-nav{
  overflow: hidden;
}

.logo {
  background: url(../imagen/DSC_0232.JPG) no-repeat center center;
  border-radius: 50px;
  float: left;
  width: 230px;
  height: 332px;
  position: absolute;
  z-index: 2000;
  left:  170px;
  margin-top: 96px;
}