.about{
	height: 700px;
	margin-bottom: 70px;
	padding: 1px;
}

.about-content{
	background: url(../imagen/Bandera-de-Costa-Rica-ondeando.jpeg) no-repeat center center;
	background-size: 100% 100%;
		margin-top: 70px;
	font-size: 16px;
	color: #fff;
	.about-subcontent{
		background-color: rgba(0,0,0,0.3);
		.about-description{
			width: 90%;
			padding-left: 10%;
			padding-top: 50px;
		}
		.content-about-left{
			.about-life{
				width: 50%;
				display: block;
				margin: 0 auto;
				margin-top: 20%;

			}
			float: left;
			margin-top: -83px;
		}
		.content-about-right{
			.about-section-up{
				text-align: center;
				background-color: $background2;
	    		height: 140px;
	    		width: 60%;
	    		margin-top: 61px;
    		.about-ul-left, .about-ul-right{
		    	display: inline-block;
		    	margin: 0 auto;
				}
			}
			.about-section-down, .footer-section-left{
			  margin-top: 60px;
					.logo-tel, .logo-email{
				  height: 40px;
					}
					.tel, .email{
				  float: right;
					}
					.contact-email, .contact-tel{
						width: 44%;
						overflow: hidden;
					}
					.tel{
						margin-right: 44px;
					}
			}
		}
	}
}