// #Estilos para los botones

.button-send-form {
  color: $texto3;
  font-family: inherit;
  display: block;
  float: right;
  cursor: pointer;
  font-size: 20px;
  font-size: 2rem;
  font-weight: 500;
  border-radius: 3px;
  padding: 12px 34px;
  background: #fff;
  border: solid 2px $texto3;
  position: relative;
 }