//
// Estilos del Footer
//
.footer{
	background-color: $background3;
	height: 250px;
	margin-top: 10%;
	.footer-section-left{
		display: inline-block;
		margin-top: 60px;
		margin-left: 18%;
		width: 48%;
		.logo-tel, .logo-email{
			height: 40px;
			width: 15%;
		}
		.tel, .email{
			float: right;
		}
		.contact-email, .contact-tel{
			overflow: hidden;
			margin-left: 6%;
			margin-bottom: 3%;
			width: 34%;
		}
		.tel{
			margin-right: 44px;
		}
	}
}

.footer-section-right {
	height: 84px;
	margin-top: -84px;
	position: absolute;
	right: 3%;
	width: 49%;
	.footer-section-right-social{
	  	.section-right-icon{
	  		width: 10%;
	  	}
	  	.git{
	  		width: 8%;
	  		margin-top: 1%;
	  	}
	}  	
 }