//
// Estilos del header
//

.header-global{
  overflow: hidden;
}

.logo {
  background: url(../imagen/DSC_0232.JPG) no-repeat center center;
  border-radius: 50px;
  float: left;
  height: 332px;
  left: 17%;
  margin-top: 11%;
  position: absolute;
  width: 16%;
  z-index: 2000;
}


.header-content {
  background: url(../img/banner-head.jpg) no-repeat;
  color: #fff;
  text-align: center;
  h1, h2, h3 {
    color: #fff;
  }
  h2 {
    @include font-size(18);
    &:before, &:after {
      content: "\2022";
      margin: 0 0.6em;
    }
  }
  h3 {
    color: #000;
    text-transform: uppercase;
    @include font-size(16);
    margin: 20px 0;
  }
  h3 + h3 {
    color: #fff;
    text-transform: none;
  }
  .button {
    @include button(14, red, blue);
  }
}