//
// Estilos para la navegación
//

// Estilos generales

.nav-header{
  background-color: $background2;
  height: 60px;
  overflow: hidden;
  text-align: center;
  width: 100%;
  .nav-header-list {
    font-family: $text-sans;
    padding-top: 1.5%;
  }
}

nav {
  ul {
    padding: 0;
  }
  li {
    display: inline-block;
    list-style-type: none;
    margin: 0;
  }

  .nav-items {
    font-size: 18px;
    margin: 0px 10px;
  }
}

.nav-items-contact{
  position: absolute;
  padding-top: 1%;
  right: 15%;
  top: 1%;
}

// Navegación principal



// Navegación footer
