//
// Estilos tipografia y estilos de los titulos
//

.about-section-tittle{
  background-color: $background1;
  width: 31%;
  margin: 0 auto;
  margin-bottom: 15px;
  text-align: center;
  padding-top: 2%;
  height: 35px;
}

.title-center{
  font-family: $text-roboto;
  font-size: 26px;
  color: #fff;
  text-align: center;
  background-color: #b1b5b8;
  margin: 0 auto;
  height: 43px;
}

.sub-title{
  @include font-size(18)
}

.jumbotron-title{
    height: 106px;
    bottom: 390px;
}

.title-big{
  @include font-size(40)
}

.jumbotron-text{
    font-size: 30px;
    bottom: 285px;
    height: 87px;
}

.skill-content-title{
  text-align: center;
  font-size: 18px;
  color: $texto1;
  margin-bottom: 72px;
}

.title-left{
  margin-right: 35%;
}