.about-section-tittle{
  background-color: #b1b5b8;
  width: 31%;
  margin: 0 auto;
  margin-bottom: 15px;
  text-align: center;
}

.title-center{
  font-family: "Roboto:700";
  font-size: 26px;
  color: #fff;
  text-align: center;
  background-color: #b1b5b8;
  width: 13%;
  margin: 0 auto;
  margin-top: -3.1%;
  height: 43px;
  padding-top: 0.4%;
}

.jumbotron-title{
    height: 106px;
    bottom: 390px;
}

.title-big{
  font-size: 40px;
}

.jumbotron-text{
    font-size: 30px;
    bottom: 285px;
    height: 87px;
}

.content-skill-title{
  text-align: center;
  font-size: 18px;
  color: $texto2;
  margin-top: 20px;
}